:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --background-color: #ffffff;
  --header-background-color: #e7e9fc;
  --white-text: #ffffff;
  --blue-color: #4d5ae5;
  --hover-focus-color: #404bbf;
  --cloud-color: #f4f4fd;
  --services-icons-background-color: #f5f4fa;
  --footer-social-media-hover-color: #31d0aa;
  --modal-backdrop-color: #2e2f4266;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

.container {
  padding: 0 16px;
}

.global-header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--header-background-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.global-header a,
.global-footer a {
  text-decoration: none;
}

/* Navigation */
.hamburger-menu {
  fill: #2f2f37;
  flex-shrink: 0;
}

.open-menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-text);
  border: none;
  width: 24px;
  height: 24px;
}

/* Mobile menu */
.js-menu-container .btn-close-modal {
  background-color: var(--background-color);
}

.js-menu-container {
  display: none;
  padding-left: 16px;
  padding-top: 72px;
  padding-bottom: 40px;
}

.js-menu-container.is-open {
  display: block;
  position: absolute;
  background-color: var(--background-color);
  width: 100vw;
  height: 100%;
}

.mobile-navigation a {
  color: var(--secondary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navigation a:hover,
.mobile-navigation a:focus {
  color: var(--hover-focus-color);
}

.mobile-navigation {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.mobile-navigation li:not(:last-child) {
  margin-bottom: 40px;
}

.social-icons-mobile {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.social-media-mobile li {
  padding: 8px 8px;
  background-color: var(--blue-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobile-contact-info a {
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contact-info a:hover,
.mobile-contact-info a:focus {
  color: var(--blue-color);
}

.social-media-mobile li:hover,
.social-media-mobile li:focus {
  background-color: var(--hover-focus-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contact-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
  margin-top: 168px;
}

.main-navigation,
.address-container {
  display: none;
}

.main-navigation,
.contact-info,
.services-list,
.members-list,
.portfolio-list {
  list-style-type: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  text-transform: uppercase;
}

.black-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.main-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/office-table.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
}

@media (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("/images/office-table2x.jpg");
  }
}

.main-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-text);
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
}

.main-button {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text);
  background-color: var(--blue-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 169px;
  height: 56px;
  padding: 16px 32px 16px 32px;
  box-shadow: 0px 4px 4px 0px #00000026;
  margin: auto;
  border-radius: 4px;
  border: none;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--hover-focus-color);
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.icon-container {
  display: none;
}

.heading-services {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.paragraph-services {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.services-items {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .services-items:nth-child(-n + 3) {
    margin-bottom: 72px;
  }
}

.second-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-section {
  background-color: var(--cloud-color);
  padding: 120px 0;
}

.members-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.team-members {
  max-width: 264px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-members-name,
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.team-members-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-members-container {
  padding: 32px 0;
}

.profession {
  text-align: center;
}

.profession,
.portfolio-service {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


.social-icons {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
  margin-top: 8px;
}

.social-media-team {
  width: 40px;
  height: 40px;
}

.social-media-team a {
  padding: 12px;
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-team a:hover,
.social-media-team a:focus {
  background-color: var(--hover-focus-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-team svg {
  width: 16px;
  height: 16px;
  fill: var(--cloud-color);
}

.our-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 40px) / 1);
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-div-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.box {
  position: relative;
  overflow: hidden;
}

.hover-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  padding: 40px 32px;
  background-color: var(--blue-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .hover-paragraph,
.portfolio-list-item:focus .hover-paragraph {
  transform: translateY(0%);
}

.global-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: block;
}

.footer-container a {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  margin-bottom: 16px;
}

.white-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--cloud-color);
}

.footer-paragraph {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  max-width: 264px;
}

.footer-media-paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--white-text);
  margin-bottom: 16px;
  text-align: center;
}

.social-media-footer-container {
  margin-bottom: 72px;
  margin-top: 72px;
}

.social-icons-footer {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-media-footer-item {
  width: 40px;
  height: 40px;
}

.social-media-footer-item .group-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-icon {
  padding: 8px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
}

.social-media-icons-set {
  fill: var(--cloud-color);
}

.social-media-footer-item a:hover,
.social-media-footer-item a:focus {
  background-color: var(--footer-social-media-hover-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form {
  text-align: center;
}

.subscribe-title {
  margin-bottom: 16px;
  color: var(--white-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.email-field {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  width: 288px;
  height: 40px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
}

.email-field::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
}

.button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 165px;
  height: 40px;
  color: var(--white-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 8px 24px 8px 24px;
  cursor: pointer;
}

.subscribe-icon {
  margin-left: 16px;
  fill: currentColor;
}

/* Modal style */
.modal-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--modal-backdrop-color);
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.modal-backdrop.is-open {
  visibility: initial;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-text);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 95%;
  min-height: auto;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.btn-close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 336px;
  flex-shrink: 0;
  padding: 0;
  background-color: var(--header-background-color);
  border: 1px solid #0000001a;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-modal svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  background-color: var(--hover-focus-color);
  border: none;
  fill: var(--white-text);
}

.form-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
  margin-top: 24px;
}

.label-container {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
}

.text-field {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 38px;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-container {
  position: relative;
}

.modal-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-label {
  margin-bottom: 16px;
}

.comments-area {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  margin-top: 4px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  width: 360px;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}

.text-field:focus,
.comments-area:focus {
  border-color: var(--blue-color);
  cursor: pointer;
}

.text-field:focus + .modal-icons {
  fill: #4d5ae5;
}

.terms-and-conditions-container {
  margin-bottom: 24px;
}

.terms-and-conditions-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 8px;
}
.svg-span {
  border: none;
  display: inline-flex;
  margin-right: 8px;
}

.svg-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.icon-box {
  display: inline-flex;
  align-items: center;
  fill: #ffffff;
}

.privacy-link {
  color: var(--blue-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.terms-and-conditions-check:checked + .terms-and-conditions-label .svg-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.button-modal {
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 16px 32px;
  margin: auto;
  margin-bottom: 24px;
  border-radius: 4px;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;
  cursor: pointer;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--hover-focus-color);
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .modal-container {
    width: 408px;
  }

  .menu-button {
    display: none;
  }
  .global-header {
    background-color: var(--header-background-color);
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .main-navigation,
  .contact-info {
    align-items: center;
    display: flex;
  }

  .main-navigation {
    gap: 40px;
  }

  .contact-info {
    flex-direction: column;
    gap: 12px;
  }

  .nav-container,
  .address-container {
    display: flex;
    align-items: center;
  }

  .navigation-item {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-navigation .active {
    position: relative;
    color: var(--hover-focus-color);
  }

  .active::after {
    content: "";
    position: absolute;
    top: 67px;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--hover-focus-color);
    border-radius: 2px;
  }

  .main-navigation a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }

  .main-navigation a:hover,
  .main-navigation a:focus {
    color: var(--hover-focus-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-info a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  .contact-info a:hover,
  .contact-info a:focus {
    color: var(--hover-focus-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-container {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .logo {
    margin-right: 120px;
  }

  .main-section {
    padding: 112px 0;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 36px;
  }
  .services-items:nth-child(-n + 2) {
    margin-bottom: 72px;
  }

  .services-list {
    display: flex;
    align-items: center;
    gap: 24px;
    row-gap: 0;
    flex-wrap: wrap;
  }

  .services-items {
    flex-basis: calc((100% - 24px) / 2);
  }

  .heading-services {
    text-align: left;
  }

  .members-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }

  .team-members {
    flex-basis: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    width: calc((100% - 40px) / 2);
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    margin-left: 108px;
    margin-right: auto;
  }

  .footer-container a {
    display: inline-block;
  }

  .social-media-footer-container {
    margin-bottom: 0;
    margin-top: 0;
  }

  .footer-media-paragraph {
    text-align: left;
  }

  .subscribe-container {
  }

  .subscribe-title {
    text-align: left;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 24px;
  }

  .email-field {
    width: 264px;
    margin-bottom: 0;
  }

  .button-footer {
    margin-right: 0;
    margin-left: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .logo {
    margin-right: 76px;
  }

  .contact-info {
    gap: 40px;
  }

  .contact-info {
    flex-direction: row;
  }

  .main-section {
    padding: 188px 0;
  }

  .main-title {
    margin-bottom: 48px;
  }
  .services {
    padding: 120px 0;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    padding: 24px 100px;
  }
  .heading-services {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .paragraph-services {
    font-weight: 400;
  }

  .services-items {
    margin-bottom: 0;
  }

  .services-items:nth-child(-n + 2) {
    margin-bottom: 0;
  }

  .services-list {
    flex-wrap: nowrap;
  }

  .services-items {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .team-members {
    flex-basis: calc((100% - 72px) / 4);
  }

  .our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    row-gap: 40px;
  }

  .portfolio-list-item {
    width: calc((100% - 80px) / 3);
  }

  .global-footer {
    padding: 100px 0;
  }

  .logo-and-paragraph-container {
    margin-right: 120px;
  }

  .footer-container {
    column-gap: 0;
    row-gap: 0;
  }

  .social-media-footer-container {
    margin-right: 80px;
  }
}
